@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
    background-color: #f6f6f6;
  }
}

.logs-hash {
  line-height: 24px !important;
}